[submodule "Submodules/CPPTraits"]
	path = Submodules/CPPTraits
	url = https://github.com/macmade/CPPTraits.git
[submodule "Submodules/PIMPL"]
	path = Submodules/PIMPL
	url = https://github.com/macmade/PIMPL.git
[submodule "Submodules/CrashGuard"]
	path = Submodules/CrashGuard
	url = https://github.com/macmade/CrashGuard.git
[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
[submodule "Submodules/XSTest"]
	path = Submodules/XSTest
	url = https://github.com/macmade/XSTest.git
