[submodule "Submodules/SeriousCode"]
	path = Submodules/SeriousCode
	url = https://github.com/macmade/SeriousCode.git
[submodule "Submodules/gmock-xcode"]
	path = Submodules/gmock-xcode
	url = https://github.com/macmade/gmock-xcode.git
[submodule "Submodules/CPPTraits"]
	path = Submodules/CPPTraits
	url = https://github.com/macmade/CPPTraits.git
[submodule "Submodules/PIMPL"]
	path = Submodules/PIMPL
	url = https://github.com/macmade/PIMPL.git
[submodule "Submodules/CrashGuard"]
	path = Submodules/CrashGuard
	url = https://github.com/macmade/CrashGuard.git
